* {
    padding:0%;
    margin:0%;
    font-family: 'Merriweather', serif;
}



body {
    border-right:40px solid #616161;
    border-left:40px solid #616161;
}

main h4, p {
    padding:10px;
    margin:10px;
}
nav {
    background-color: red;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

nav ul {
    list-style:none;
    display:flex; 
}

nav li {
    border-right: 1px solid white;
    padding:10px;
    width:100%
}

nav a {
    text-decoration:none;
    color: white;
    font-weight:600;
}

header {
    background-image: url("../img/strawberries.jpg");
    padding: 4%;
    justify-content:center;
}

header > h1, h4 {
    margin-left: 40%;
}

main {
    display:flex;
}

.olive {
    background-color: olive;
    color:white;
    padding: 3px 0px;
    margin: 20px;
}

.paddingleft {
    padding-left:20px;
}

#paddingleftstrong {
    padding-left:50px;
}
aside {
    background-color: #fafafa;
    width: 50%;
}

aside ul {
    list-style:none;
}

aside a {
    text-decoration: none;
}

aside > section:last-child {
    padding-top: 50px;
}

article > blockquote{
    background-color: #ffbcaf;
    color: #7f0000;
    padding: 3px;
    margin: 15px;
}

footer {
    padding:10px;
    background-color:black;
    color:white;
    text-align:center;
}

footer a {
    color: aqua;
    text-decoration: none;
}
